<table>
    <thead>
      <tr>
        <th>Title</th>
        <th>Description</th>
        <th>Image</th>
        <th>Created At</th>
      </tr>
    </thead>
    <tbody>
      {% for for in issues %}
        <tr>
          <td>{{ issue.title }}</td>
          <td>{{ issue.description }}</td>
          <td><img src="{{ issue.image.url }}" alt="{{ issue.title }}"></td>
          <td>{{ issue.created_at }}</td>
        </tr>
      {% endfor %}
    </tbody>
  </table>
  <form method="post" action="{% url 'create_issue' %}">
    {% csrf_token %}
    {{ form.as_p }}
    <a href="qatest.html"><input type="submit" value="Submit"></a>
</form>